<connectionStrings>
  <add name="Database1"
       providerName="System.Data.SqlClient"
       connectionString="Initial Catalog=DB1;Data Source=(localhost);Integrated Security=SSPI" />
  <add name="Database2"
       providerName="System.Data.SqlClient"
       connectionString="Initial Catalog=DB2;Data Source=(localhost);Integrated Security=SSPI" />
  <add name="Database3"
       providerName="System.Data.SqlClient"
       connectionString="Initial Catalog=DB3;Data Source=(localhost);Integrated Security=SSPI" />
</connectionStrings>